{% extends "layout.html" %}
{% block content %}

         
          <div class="login">
                  <h1>Brighton Signage</h1>
                  <form action="/upload" method="POST">
                      <input type="text" name="u" placeholder="Username" required="required" />
                      <input type="password" name="p" placeholder="Password" required="required" />
                     <button type="submit" class="btn btn-primary btn-block btn-large">Let me in</button> 
                    
                  </form>
              </div>
{% endblock %}
